<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>476457719293-92lvo82tvapsoenufv8og8ltk36pcpjk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476457719293-92lvo82tvapsoenufv8og8ltk36pcpjk</string>
	<key>API_KEY</key>
	<string>AIzaSyBSraWfBCuG_kiT0lWSP0cBnT00AE5hN9k</string>
	<key>GCM_SENDER_ID</key>
	<string>476457719293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zodiactech.HomeGameDev</string>
	<key>PROJECT_ID</key>
	<string>home-game-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>home-game-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476457719293:ios:942377523cee307baaf594</string>
	<key>DATABASE_URL</key>
	<string>https://home-game-dev-default-rtdb.firebaseio.com</string>
</dict>
</plist>